{
  "extends": ["eslint:recommended", "plugin:prettier/recommended", "prettier"],
  "env": {
    "amd": true,
    "browser": true
  },
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "globals": {
    "angular": true
  },
  "rules": {
    "prettier/prettier": ["error"],
    "no-nested-ternary": ["error"]
  }
}
