<nav class="navbar is-danger is-fixed-top" role="navigation" aria-label="main navigation">

  <div class="navbar-brand">
    <a class="navbar-item" ui-sref="app">
      <img src="https://via.placeholder.com/112x28" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
       data-target="navbar" ng-click="$ctrl.isActive = !$ctrl.isActive">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar" class="navbar-menu" ng-class="{ 'is-active': $ctrl.isActive }">
    <div class="navbar-start">
      <a class="navbar-item" ui-sref="app.posts">
        Posts
      </a>
    </div>
  </div>

</nav>
